.project-card {
  overflow: hidden;
  margin-bottom: 20px;
}
.project-card img {
  width: 50%;
}
.project-card-title {
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

.link5 a {
  color: white;
  background-image: linear-gradient(to bottom, transparent 65%, #ec7dd6 0);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size .4s ease;
}

.link5 a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

